[project]
	description = a implementation of a search string algorithm in JAVA
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matheus Archanjo (ArchanjoJr)
[access "refs/for/refs/*"]
	read = group user/Matheus Archanjo (ArchanjoJr)
	push = group user/Matheus Archanjo (ArchanjoJr)
	label-Code-Review = -2..+2 group user/Matheus Archanjo (ArchanjoJr)
	label-Verified = -1..+1 group user/Matheus Archanjo (ArchanjoJr)
	rebase = group user/Matheus Archanjo (ArchanjoJr)
	removeReviewer = group user/Matheus Archanjo (ArchanjoJr)
	submit = group user/Matheus Archanjo (ArchanjoJr)
[access "refs/heads/*"]
	read = group user/Matheus Archanjo (ArchanjoJr)
	create = group user/Matheus Archanjo (ArchanjoJr)
	push = +force group user/Matheus Archanjo (ArchanjoJr)
	pushMerge = group user/Matheus Archanjo (ArchanjoJr)
[access "refs/tags/*"]
	push = group user/Matheus Archanjo (ArchanjoJr)
	push = +force group user/Matheus Archanjo (ArchanjoJr)
